# Local Flutter/Dart files only (main .gitignore handles most)
.packages
.metadata
pubspec.lock

# Platform specific
**/android/app/debug
**/android/app/profile
**/android/app/release
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
